---
import Section from "../Section.astro"
import Html from "@/icons/html.astro"
import CSS from "@/icons/css.astro"
import Javascript from "@/icons/javascript.astro"
import Type from "@/icons/type.astro"
import Node from "@/icons/node.astro"
import Git from "@/icons/git.astro"
import GitHub from "@/icons/GitHub.astro"
import Tailwind from "@/icons/tailwind.astro"
import Figma from "@/icons/Figma.astro"
import Boostrap from "@/icons/Bootstrap.astro"
import { skills } from "@cv"


const SKILLS_ICONS: Record<string, any> = {
        Html,
        CSS,
        Javascript,
        Type,
        Node,
        Git,
        GitHub,
        Tailwind,
        Figma,
        Boostrap
}
---
<Section title="Habilidades">
    <ul>
        {
          skills.map(({ name }) => {
            const iconName = name 
            const Icon = SKILLS_ICONS[iconName]
    
            return (
              <li>
                <span>{name} </span> / 
              </li>
            )
          })
        }
      </ul>

</Section>
<style>
    ul {
      display: inline-flex;
      gap: 8px;
      flex-wrap: wrap;
    }
  
    li {
      align-items: center;
      border-radius: 6px;
      color: #474747;
      display: flex;
      font-size: .9rem;
      font-family: Visuelt Pro,Helvetica,Arial,sans-serif;
      font-weight: 500;
      line-height: 1.75rem;
      gap: 4px;
      padding-inline: 4px;
    }
  </style>