---
import Section from "../Section.astro"
import Html from "@/icons/html.astro"
import CSS from "@/icons/css.astro"
import Javascript from "@/icons/javascript.astro"
import Type from "@/icons/type.astro"
import Node from "@/icons/node.astro"
import Git from "@/icons/git.astro"
import GitHub from "@/icons/GitHub.astro"
import Tailwind from "@/icons/tailwind.astro"
import Figma from "@/icons/Figma.astro"
import Boostrap from "@/icons/Bootstrap.astro"
import { skills, tools, languages, others } from "@cv"


const SKILLS_ICONS: Record<string, any> = {
        Html,
        CSS,
        Javascript,
        Type,
        Node,
        Git,
        GitHub,
        Tailwind,
        Figma,
        Boostrap
}
---
<Section title="Habilidades">
  <h3>Lenguajes y Frameworks</h3>
    <ul>
        {
          skills.map(({ name }) => {
            const iconName = name 
            const Icon = SKILLS_ICONS[iconName]
    
            return (
              <li>
                <span>{ name },</span> 
              </li>
            )
          })
        }
      </ul>
      <h3>Herramientas</h3>
    <ul>
        {
          tools.map(({ name }) => {
            return (
              <li>
                <span>{ name }, </span> 
              </li>
            )
          })
        }
      </ul>
      <h3>Otras</h3>
    <ul>
        {
          others.map(({ name }) => {
            return (
              <li>
                <span>{ name }, </span> 
              </li>
            )
          })
        }
      </ul>
      <h3>Idiomas</h3>
      <ul>
        {
          languages.map(({ language, fluency }) => {
            return (
              <li>
                <span>{ language } ({fluency}),  </span> 
              </li>
            )
          })
        }
      </ul>

</Section>
<style>
    ul {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 0px .5em;
      text-wrap: pretty;
      margin-bottom: 8px;
    }
  
    li {
    color: #444;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 500;
    margin-bottom:   4px ;
    }
    h3{
      color: #222;
    font-weight: 600;
    line-height: 1.5;
    }
  </style>