---

const {title} = Astro.props
---

<section>
    {title && <h2>{title}</h2> }
    <slot />
</section>
    <script type="module" src="https://unpkg.com/ninja-keys?module"></script>

  
<style>
     section {
    max-width: 700px;
    margin: 0 auto 32px;
	display: flex;
	flex-direction: column;
	gap: 12px;
  }

  h2 {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
  }

  @media (width <= 700px) {
    section {
      margin-bottom: 38px;
    }
  }
</style>